.advantages {
  margin-bottom: 40px;
}

.advantages__heading {
  @include mobile-margins;
  margin-top: -4px;
  margin-bottom: 30px;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  position: relative;

  @include mobile-margins;
  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;

  &--nutrients {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -2px;

      width: 60px;
      height: 60px;

      background: #68b738 url("../img/advantage-leaf@1x.png") 50% 50% no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-leaf@2x.png");
        background-size: 50px auto;
      }
    }
  }

  &--powder {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -2px;

      width: 60px;
      height: 60px;

      background: #68b738 url("../img/advantage-powder@1x.png") 50% 50% no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-powder@2x.png");
        background-size: 50px auto;
      }
    }
  }

  &--food {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -2px;

      width: 60px;
      height: 60px;

      background: #68b738 url("../img/advantage-dining@1x.png") 50% 50% no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-dining@2x.png");
        background-size: 50px auto;
      }
    }
  }

  &--time {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -2px;

      width: 60px;
      height: 60px;

      background: #68b738 url("../img/advantage-clock@1x.png") 50% 50% no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/advantage-clock@2x.png");
        background-size: 50px auto;
      }
    }
  }
}

.advantages__description {
  margin: 0;
  padding: 0;

  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  color: $text-dark-grey;

  br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    margin: 0;
  }

  .advantages__heading {
    @include tablet-margins;
    padding-top: 16px;
    margin-bottom: 15px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 8px;

    border-bottom: 1px solid #e6e6e6;
  }

  .advantages__item {
    width: 50%;
    min-height: 230px;
    margin: 0;
    margin-top: 45px;
    margin-bottom: 42px;
    padding: 0;
    padding-top: 124px;
    padding-left: 30px;
    padding-right: 150px;

    &::before {
      top: 11px;
      left: 30px;

      width: 80px;
      height: 80px;
    }

    &::after {
      position: absolute;
      top: -29px;
      left: 142px;
      z-index: -1;

      font-family: $oswald;
      font-size: 281px;
      line-height: 281px;
      color: $text-very-light-grey;
    }

    &--nutrients {
      &::after {
        content: "1";
        left: 148px;
      }
    }

    &--powder {
      padding-right: 100px;

      &::after {
        content: "2";
      }
    }

    &--food {
      &::after {
        content: "3";
      }
    }

    &--time {
      padding-right: 80px;

      &::after {
        content: "4";
      }
    }

    &:last-child {
      margin-bottom: 60px;
    }
  }

  .advantages__description {
    font-size: 16px;
    line-height: 24px;

    br {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    @include desktop-centering;
  }

  .advantages__heading {
    margin: 0;
    margin-bottom: 63px;
    padding-top: 43px;
  }

  .advantages__list {
    border: none;
  }

  .advantages__item {
    width: 245px;
    min-height: 230px;
    margin: 0;
    margin-right: 80px;
    padding: 0;
    padding-top: 121px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      top: 10px;
      left: 0;
    }

    &::after {
      left: 112px;
    }

    &--nutrients {
      &::after {
        left: 118px;
      }
    }
  }
}
