.example {
  padding-bottom: 33px;

  background-color: #f2f2f2;
}

.example__heading {
  @include mobile-margins;
  margin-bottom: 23px;
  padding-top: 17px;
}

.example__details {
  @include mobile-margins;
  margin-right: 25px;
  margin-bottom: 25px;

  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  color: $text-dark-grey;
}

.example__wrapper-table {
  width: auto;

  @include mobile-margins;

  overflow: hidden;
}

.example__table {
  width: calc(100% + 64px);
  margin-left: -32px;
  margin-right: -32px;
  margin-bottom: 9px;

  border-spacing: 32px 0;
}

.example__value {
  min-width: 124px;
  padding-top: 13px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 16px;

  font-family: $oswald;
  font-size: 24px;
  line-height: 24px;
  color: $text-black;
  text-align: center;
  text-transform: uppercase;

  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__field {
  font-family: $arial;
  font-size: 12px;
  line-height: 12px;
  color: $text-dark-grey;
  text-align: center;
}

.example__field-text {
  display: inline-block;
  width: 87px;
  padding-left: 16px;
  padding-right: 16px;

  background-color: #f2f2f2;

  transform: translateY(-9px);
}

.example__expences {
  @include mobile-margins;
  margin-bottom: 34px;

  font-family: $oswald;
  font-size: 14px;
  line-height: 20px;
  color: $text-black;
  text-align: center;
  text-transform: uppercase;
}

.example__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 31px;

  &--after {
    display: none;
  }
}

.example__slider-controls {
  @include mobile-margins;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  transform: translateX(3px);
}

.example__button {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  color: $text-black;
  text-transform: uppercase;

  background: none;
  border: none;
}

.example__slider-bar {
  width: 84px;
  height: 14px;
  margin-left: 10px;
  margin-right: 14px;
  padding: 3px 6px;

  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}

.example__slider-toggle {
  width: 35px;
  height: 6px;

  background-color: #68b738;
  border-radius: 3px;
}

@media (min-width: $tablet-width) {
  .example {
    padding-top: 43px;
    padding-bottom: 68px;

    background: linear-gradient(to top, #eaeaea 462px, transparent 462px);
  }

  .example__heading {
    @include tablet-margins;
    margin-bottom: 64px;
    padding: 0;
  }

  .example__details {
    @include tablet-margins;
    margin-right: 60px;
    margin-bottom: 52px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__wrapper-tablet {
    @include tablet-margins;
    display: flex;
    justify-content: space-between;
    width: auto;

    overflow: visible;
  }

  .example__wrapper-table {
    width: auto;
    margin: 0;

    overflow: visible;
  }

  .example__table {
    margin-left: -42px;
    margin-right: -42px;
    margin-bottom: 71px;

    border-spacing: 42px 0;
  }

  .example__value {
    min-width: 162px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 17px;

    font-size: 30px;
    line-height: 37px;
  }

  .example__field {
    font-size: 14px;
    line-height: 14px;

    background: none;
  }

  .example__field-text {
    display: inline-block;
    width: auto;
    padding-left: 8px;
    padding-right: 9px;

    background-color: #ffffff;

    transform: translateY(-8px);
  }

  .example__expences {
    width: 175px;
    margin: 0;
    margin-top: 13px;

    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  .example__wrapper-images {
    display: flex;
    justify-content: center;
  }

  .example__wrapper-image {
    position: relative;

    width: 338px;
    flex-shrink: 0;
    height: 517px;
    margin-bottom: 15px;

    overflow: hidden;
  }

  .example__image {
    max-width: none;
    width: 690px;
    height: 517px;

    &--after {
      position: absolute;
      right: -14px;

      display: block;
    }
  }

  .example__slider-controls {
    transform: none;
  }

  .example__button {
    padding: 6px 0;

    font-size: 20px;
    line-height: 20px;

    border-bottom: 1px dotted rgba($text-black, 0.23);

    &:hover {
      border-bottom: 1px solid rgba($text-black, 0.4);
    }

    &:active {
      border: none;
    }
  }

  .example__slider-bar {
    position: relative;

    width: 428px;
    height: 6px;
    margin-left: 22px;
    margin-right: 22px;
    padding: 0;

    background-color: #dcdcdc;
    border: none;
    border-radius: 2.5px;
  }

  .example__slider-toggle {
    position: absolute;
    left: 199px;
    top: -16px;

    width: 34px;
    height: 34px;

    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(#000000, 0.15);

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(#000000, 0.25);
    }

    &:active {
      border: 2px solid #68b738;
      box-shadow: 0 4px 5px 0 rgba(#000000, 0.3);
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 8px;
      height: 8px;
      margin-top: -4px;
      margin-left: -4px;

      background-color: #68b738;
      border-radius: 50%;
    }
  }
}

@media (min-width: $desktop-width) {
  .example {
    padding-top: 65px;
    padding-bottom: 68px;

    overflow: hidden;
  }

  .example__wrapper-all {
    @include desktop-centering;
    display: flex;
  }

  .example__wrapper-desktop {
    width: 50%;
  }

  .example__heading {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 146px;
  }

  .example__details {
    width: 432px;
    margin: 0;
    margin-bottom: 68px;
  }

  .example__wrapper-tablet {
    flex-direction: column;
    margin: 0;
  }

  .example__table {
    width: auto;
    margin-bottom: 45px;
  }

  .example__field-text {
    background-color: #eaeaea;
  }

  .example__expences {
    width: auto;
    margin: 0;

    text-align: left;
  }

  .example__expences-value {
    margin-left: 60px;
  }

  .example__wrapper-images {
    transform: translateX(19px);
  }

  .example__wrapper-image {
    width: 362px;
    margin-bottom: 35px;
    margin-top: -40px;
  }

  .example__image {
    max-width: 690px;
    width: 690px;
    height: 517px;

    transform: none;

    &--after {
      right: 34px;
    }
  }

  .example__slider-controls {
    transform: translateX(18px);
  }
}
