.gift {
  min-height: 289px;

  background: #65a93c url(../img/gift-photo-mobile@1x.jpg) no-repeat;
}

.gift__description {
  font-family: $arial;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
