.page-header__wrapper {
  @include mobile-margins;
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 10px;
}

.page-header__nav-toggle {
  height: 19px;
}

@media (min-width: $tablet-width) {
  .page-header {
    @include tablet-margins;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 18px;
  }

  .page-header__wrapper {
    margin: 0;
  }

  .page-header__logo-image {
    display: block;
    width: 174px;
    height: 59px;
  }

  .page-header__nav-toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    @include desktop-centering;
    display: flex;
    align-items: center;
    padding-top: 41px;
    padding-bottom: 0;
  }

  .page-header__logo-image {
    width: 203px;
    height: 60px;
  }

  .page-header__nav {
    max-width: 45%;
  }
}
