.programs {
  @include mobile-margins;
}

.programs__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.programs__item {
  position: relative;

  margin-bottom: 20px;
  padding: 21px;
  padding-top: 29px;
  padding-bottom: 20px;

  background-color: #f2f2f2;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 22px;

    width: 50px;
    height: 50px;

    background-color: #68b738;
    border-radius: 50%;
  }

  &--slim {
    &::after {
      content: "";
      position: absolute;
      top: 22px;
      left: 30px;

      width: 35px;
      height: 49px;

      background: url("../img/icon-cat-slim.svg") no-repeat;
    }
  }

  &--pro {
    &::after {
      content: "";
      position: absolute;
      top: 35px;
      left: 13px;

      width: 67px;
      height: 28px;

      background: url("../img/icon-cat-pro.svg") no-repeat;
    }
  }
}

.programs__title {
  margin: 0;
  margin-left: 70px;
  margin-bottom: 29px;

  font-family: $oswald;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: $text-black;
  text-transform: uppercase;
}

.programs__description {
  margin: 0;
  margin-bottom: 19px;
  padding-bottom: 22px;

  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  color: $text-dark-grey;

  border-bottom: 1px solid rgba(#000000, 0.1);
}

.programs__link {
  position: relative;

  font-family: $oswald;
  font-size: 16px;
  line-height: 16px;
  color: $text-black;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    right: -34px;

    width: 25px;
    height: 12px;

    background: url("../img/icon-right-arrow-long.svg") no-repeat;
  }

  &:hover {
    &::after {
      right: -55px;

      width: 34px;

      background-image: url("../img/icon-right-arrow-verylong.svg");
    }
  }

  &:active {
    opacity: 0.3;

    &::after {
      right: -55px;

      width: 34px;

      background-image: url("../img/icon-right-arrow-verylong.svg");
    }
  }
}

@media (min-width: $tablet-width) {
  .programs {
    @include tablet-margins;
  }

  .programs__item {
    margin-bottom: 30px;
    padding-top: 76px;
    padding-left: 53px;
    padding-right: 280px;
    padding-bottom: 58px;

    &::before {
      top: 92px;
      right: 62px;
      left: auto;

      width: 200px;
      height: 200px;
    }

    &--slim {
      &::after {
        top: 80px;
        right: 92px;
        left: auto;

        width: 141px;
        height: 194px;
      }
    }

    &--pro {
      padding-right: 313px;

      &::after {
        top: 135px;
        right: 28px;
        left: auto;

        width: 268px;
        height: 113px;
      }
    }
  }

  .programs__title {
    margin: 0;
    margin-bottom: 25px;

    font-size: 36px;
    line-height: 37px;
  }

  .programs__description {
    margin-bottom: 35px;

    font-size: 16px;
    line-height: 24px;

    border: none;
  }

  .programs__link {
    font-size: 20px;
    line-height: 20px;

    &::after {
      top: 8px;
      right: -46px;
    }
  }
}

@media (min-width: $desktop-width) {
  .programs {
    @include desktop-centering;
  }

  .programs__list {
    display: flex;
    flex-wrap: wrap;
  }

  .programs__item {
    width: 570px;
    padding-left: 52px;
    padding-right: 52px;

    &:nth-child(2n-1) {
      margin-right: 80px;
    }

    &::before {
      top: 47px;
      left: 52px;

      width: 100px;
      height: 100px;
    }

    &--slim {
      &::after {
        top: 41px;
        left: 65px;
        right: auto;

        width: 71px;
        height: 97px;
      }
    }

    &--pro {
      &::after {
        top: 69px;
        left: 34px;

        width: 134px;
        height: 57px;
      }
    }
  }

  .programs__title {
    margin-left: 162px;
    margin-bottom: 75px;
  }

  .programs__description {
    margin-bottom: 10px;
  }
}
