.program-form__description {
  @include mobile-margins;
  width: 230px;

  font-family: $oswald;
  font-size: 14px;
  line-height: 18px;
  color: $text-black;
  text-transform: uppercase;
}

.program-form__fieldset {
  margin: 0;
  padding: 0;

  border: none;

  &--main-program {
    padding-top: 21px;
    padding-bottom: 23px;

    border-bottom: 1px solid #ededed;
  }
}

.program-form__list {
  margin: 0;
  padding: 0;

  @include mobile-margins;

  list-style: none;

  &--main {
    padding-top: 13px;

    .program-form__label {
      margin: 0;
    }
  }

  &--program {
    padding-top: 5px;
    padding-left: 46px;
    padding-bottom: 2px;
  }

  &--contacts {
    padding-top: 10px;

    .program-form__list-item {
      position: relative;
    }

    .program-form__input-text {
      margin-left: 11px;
    }
  }

  &--habits {
    padding-top: 10px;
  }

  &--additional {
    padding-top: 15px;
    padding-left: 46px;
  }
}

.program-form__list-item {
  display: flex;
  align-items: baseline;

  &:last-child {
    .program-form__label {
      margin-bottom: 0;
    }

    .program-form__input-text {
      margin-bottom: 0;
    }
  }
}

.program-form__label {
  flex-shrink: 0;
  margin-bottom: 25px;

  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  color: $text-black-lighten;
  text-transform: uppercase;
}

.program-form__input-text {
  flex-grow: 1;
  min-width: 50px;
  margin: 0;
  margin-left: 16px;
  margin-bottom: 14px;
  padding: 13px 16px;

  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  color: $text-dark-grey;

  border: 1px solid rgba(#cdcdcd, 0.5);

  &::placeholder {
    font-family: $oswald;
    font-size: 16px;
    line-height: 18px;
    color: $text-dark-grey;
    text-transform: uppercase;
  }

  &--textarea {
    width: 100%;
    height: 150px;
    margin-left: 0;
    padding-left: 13px;
    padding-right: 13px;

    border: 1px solid #cdcdcd;

    resize: none;
  }
}

.program-form__title {
  @include mobile-margins;
  width: 200px;
  margin-top: 29px;
  margin-bottom: 23px;

  font-family: $oswald;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $text-black;
}

.program-form__icon-contacts {
  position: absolute;

  &--mail {
    right: 16px;
    top: 17px;
  }

  &--phone {
    right: 13px;
    top: 13px;
  }
}

.program-form__wrapper-button {
  @include mobile-margins;
}

.program-form__button-submit {
  width: 100%;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 20px;
}

.program-form__info {
  @include mobile-margins;
  margin-bottom: 30px;

  font-family: $arial;
  font-size: 14px;
  line-height: 16px;
  color: $text-dark-grey;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .program-form__description {
    @include tablet-margins-form;
    width: 330px;
    margin-top: 55px;
    margin-bottom: 50px;

    font-size: 20px;
    line-height: 30px;
  }

  .program-form__fieldset {
    margin: 0;
    padding: 0;

    border: none;
  }

  .program-form__list {
    @include tablet-margins-form;

    &--program {
      margin-top: 72px;
      padding-top: 32px;
      padding-left: 86px;
      padding-right: 30px;
      padding-bottom: 33px;

      border: 1px solid rgba(#cdcdcd, 0.5);
    }

    &--contacts {
      padding-top: 51px;

      .program-form__input-text {
        margin-left: 16px;
      }
    }

    &--habits {
      padding-top: 52px;
    }

    &--additional {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: -26px;
      padding-top: 44px;
      padding-left: 0;

      .program-form__list-item {
        width: calc(50% - 30px);
        margin-bottom: 18px;
        padding-left: 57px;

        &:nth-child(2n-1) {
          margin-right: 60px;
        }
      }
    }
  }

  .program-form__label {
    margin-bottom: 33px;

    font-size: 20px;
    line-height: 20px;
  }

  .program-form__input-text {
    margin-bottom: 19px;
    padding: 11px 20px;

    font-size: 20px;
    line-height: 20px;

    &::placeholder {
      font-size: 20px;
      line-height: 20px;
    }

    &--textarea {
      height: 174px;
    }
  }

  .program-form__title {
    @include tablet-margins-form;
    width: auto;
    margin-top: 76px;

    font-size: 36px;
    line-height: 36px;

    &--habits {
      margin-top: 65px;
    }

    &--additional {
      margin-top: 65px;
    }
  }

  .program-form__icon-contacts {
    &--mail {
      right: 20px;
      top: 22px;
    }

    &--phone {
      right: 17px;
      top: 18px;
    }
  }

  .program-form__wrapper-button-info {
    @include tablet-margins-form;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 53px;
  }

  .program-form__wrapper-button {
    width: calc(50% - 30px);
    margin: 0;
    margin-right: 60px;
  }

  .program-form__button-submit {
    padding-top: 17px;
    padding-bottom: 15px;

    font-size: 20px;
    line-height: 20px;
  }

  .program-form__info {
    margin-top: 57px;
    margin-left: -5px;

    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .program-form {
    @include desktop-centering;
  }

  .program-form__description {
    margin-left: 0;
    margin-right: 0;
  }

  .program-form__wrapper-main-program {
    display: flex;
    flex-wrap: wrap;
  }

  .program-form__fieldset {
    &--main-program {
      width: 570px;

      &:nth-child(2n-1) {
        margin-right: 80px;
      }
    }
  }

  .program-form__list {
    margin-left: 0;
    margin-right: 0;

    &--program {
      margin-top: 14px;
      padding-top: 35px;
      padding-bottom: 35px;
    }

    &--contacts {
      display: flex;
      flex-wrap: wrap;

      .program-form__list-item {
        width: calc(50% - 40px);

        &:nth-child(2n-1) {
          margin-right: 80px;
        }
      }
    }

    &--additional {
      margin-bottom: -20px;
      padding-top: 42px;

      .program-form__list-item {
        width: 245px;
        margin-right: 80px;

        &:nth-child(2n-1) {
          margin-right: 80px;
        }

        &:nth-child(4n) {
          margin-right: 0;
        }
      }
    }
  }

  .program-form__title {
    margin-top: 69px;
    margin-left: 0;
    margin-right: 0;

    &--habits {
      margin-top: 48px;
    }
  }

  .program-form__wrapper-button-info {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 62px;
  }

  .program-form__wrapper-button {
    width: 568px;
    margin-right: 80px;
  }

  .program-form__info {
    margin-top: 57px;
    margin-left: 2px;
  }
}
