@mixin mobile-centering {
  width: 280px;
  margin: 0 auto;
}

@mixin mobile-margins {
  margin: 0 20px;
}

@mixin tablet-margins {
  margin: 0 30px;
}

@mixin tablet-margins-form {
  margin: 0;
  margin-left: 71px;
  margin-right: 66px;
}

@mixin desktop-centering {
  width: 1220px;
  margin: 0 auto;
}
